

 
 
<div class="container">

  <div class="row column ">
    <div class="input-group">
      <app-search style="width: 100%"></app-search>
    </div>
    
    <div class="card col-md-3"
      style="margin:10px;padding-right: 0px!important;padding-left: 0px!important; flex: 0 0 23%!important;"
      *ngFor="let product of products; index as productId">
      <img class="card-img-top" src="assets/img/{{product.img}}" alt="Card image cap" style="height: 210px;">
      <div class="card-body">

        <h5 class="card-title">{{ product.name }}</h5>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <div class="container1">

          <span class="card-text" style="font-size: 14px;">{{ product.price | currency:'IND'}}</span>&nbsp;
          <s style="font-size: 12px;">{{ product.MRP | currency:'IND'}}</s> <br>
          <span style="font-size: 12px;">Save: {{product.MRP - product.price | currency:'IND'}}</span>


        
     

        </div>

      </div>
      <div class="card-footer">
        <p>
            <a [title]="product.name + ' details'" [routerLink]="['/products', productId]" class="button">
              View details
            </a> </p>
          <p> <a (click)="addToCart(product)" class="button" style="padding-left: 10px;">Add To Cart</a>     </p>
      </div>
    </div>

  </div>
</div>

