

<a [routerLink]="['/']">
  <h1>My Store</h1>

</a>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  
  <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
  
</div>
  
<a class="button fancy-button" routerLink="/cart">

  <span>

    <i class="material-icons">shopping_cart</i>

    <span class="badge badge-light cartCnt">{{itemsCnt | json}}</span>

  </span>

</a>
